<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libtorch-cuda-11.3-win-x64" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part1" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part10" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part11" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part2" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part3-fragment1" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part3-fragment2" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part3-primary" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part4" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part5" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part6" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part7" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part8" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part9-fragment1" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part9-fragment2" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part9-fragment3" version="1.11.0.1" targetFramework="net48" />
  <package id="libtorch-cuda-11.3-win-x64-part9-primary" version="1.11.0.1" targetFramework="net48" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="TorchSharp" version="0.96.8" targetFramework="net48" />
  <package id="TorchSharp-cuda-windows" version="0.96.8" targetFramework="net48" />
</packages>